@import "tailwindcss";
@import "@heroui/styles";
@layer utilities {
  @keyframes bounce-subtle {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }

  .bounce-subtle {
    animation: bounce-subtle 1s ease-in-out infinite;
  }
}
:root {
  --background: #020a03;
  --background-subtle: #071009;
  --foreground: #e8edf4;
  --foreground-muted: #7a9e82;
  --color-gold: oklch(92.4% 0.12 95.746);
  --color-primary: #40f778;
  --color-primary-dark: #1a6330;
  --color-primary-hover: #2ed966;
  --color-primary-light: rgba(64, 247, 120, 0.12);
  --color-secondary: #49960b;
  --color-accent: #2ec5fa;
  --color-accent-glow: rgba(46, 197, 250, 0.2);

  --color-border: #1a3320;
  --color-card: #070f08;
  --color-card-hover: #0d1f0f;

  --color-success: #10d98a;
  --color-warning: #fbbf24;
  --color-error: #f87171;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f5fff7;
    --background-subtle: #e8f7ec;
    --foreground: #080e09;
    --foreground-muted: #4a7a55;

    --color-primary: #1db954;

    --color-primary-hover: #17a349;
    --color-primary-light: rgba(29, 185, 84, 0.1);
    --color-secondary: #3a7a08;
    --color-accent: #0aace0;
    --color-accent-glow: rgba(10, 172, 224, 0.15);

    --color-border: #c2e8cc;
    --color-card: #ffffff;
    --color-card-hover: #edf7f1;

    --color-success: #0ea572;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
  }
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-light: var(--color-primary-light);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-accent-glow: var(--color-accent-glow);
  --color-border: var(--color-border);
  --color-card: var(--color-card);
  --color-card-hover: var(--color-card-hover);
  --color-bg-subtle: var(--background-subtle);
  --color-muted: var(--foreground-muted);
  --background: var(--background);
  --foreground: var(--foreground);
  --color-gold: var(--color-gold);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1280px) {
  html {
    font-size: 102.25%; /* 17px */
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 104.5%; /* 18px */
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 108.75%; /* 19px */
  }
}
